
/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITIES */
.flex {
    display: flex;
}
.bd-radius {
    border-radius: 20px;
}
.wht-color {
    color: white;
}

.mnspace-font {
    font-family: monospace;
}

.orange-bg {
    background-color: #FF9F0A;
}

.cyan-bg {
    background-color: #77A8B0;
}

input {
    border-radius: 20px;
}


/* MAIN CONTAINER */
.flex.main-container {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


/* CONTAINER */
.flex.container {
    width: 550px;
    height: 850px;
    padding: 20px;
    flex-direction: column;
}


/* CALCULATOR */
.calc-header{
    background-color: #E9E9E9;
    text-align: center;
    /* flex-grow: 1; */

}
.calc-header img{
    width: 80%;
}

.calc-header.bd-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

/* Display */
.calc-display {
    background-color: black;
    padding: 15px;
    justify-content: end;
}

.calc-display span {
    font-size: 80px;
    color: limegreen;
    font-family: 'seven segment';
}

/* Bottom */
.calc-bottom {
    background-color: #E9E9E9;
    flex-grow: 4;
    padding: 20px;
}

.calc-bottom.bd-radius{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* LEFT SIDE */
.left-side {
    /* debug */
    /* background-color: red; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
}

.right-side {
    /* background-color: blue; */
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 10px; */
}


/* BUTTONS */
.num-btn {
    width: 100px;
    height: 100px;
    font-size: 50px;
    cursor: grab;
    background-color: #BBBBBB;
}

/* Function Btn Style */
.fx-btn {
    width: 75px;
    height: 75px;
    font-size: 40px;
    font-family: monospace;
}

.zero.num-btn {
    flex-grow: 1;
}

